---
import Layout from "../../layouts/Article.astro"
import { getCollection } from 'astro:content';

const title = "YEEHAA";

export async function getStaticPaths() {
  const blogEntries = await getCollection('Posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const order = ('00' + entry.data.order).slice(-3);
const { Content } = await entry.render();
---

<Layout {title}>
  { entry.data.series && <h2 class="flex mb-1 md:mb-2 gap-2">
  <span class="text-secondary font-extrabold">{order}</span>
  <span class="text-secondary-light">{entry.data.series}</span></h2>}
  <Content/ >
</Layout>
