---
import { Image } from 'astro:assets';
import Layout from "@/layouts/Base.astro"
import { PostListing } from "@/components/Postlisting"
import { getCollection, getEntries } from 'astro:content';

export async function getStaticPaths() {
  const seriesEntries = await getCollection('Series');
  return seriesEntries.map(entry => ({
    params: { slug: entry.id }, props: { entry },
  }));
}

const { entry, logoLink = "/"} = Astro.props;
const { data } = entry
const { title, summary, bannerImageURL, articles} = data;
const posts = await getEntries(articles)

---
<Layout {logoLink}>
  <div slot="hero" class="w-full w-full lg:w-11/12 xl:w-9/12 2xl:w-8/12 mx-auto"> 
    <div class="flex flex-col gap-x-8 bg-black dark:bg-white">
      <Image class="w-full" src={bannerImageURL} alt={title} loading="eager"/>
      <div class="px-8 flex flex-col justify-center gap-y-5 py-8 md:py-12">
        <h1 class="font-sans hover:font-serif md:text-5xl text-white dark:text-black text-4xl font-extrabold">
          { title }
        </h1>
        <p class="font-serif text-white dark:text-black">{ summary }</p>
      </div>
    </div>
  </div>
  <div class="container px-8 gap-8 py-12 lg:py-20 mx-auto">
    { posts.map(({slug, data}) => <PostListing {...data} {slug}/>)}
  </div>
</Layout>
