---
import { Image } from 'astro:assets';
import Layout from "@/layouts/Page.astro"
import { PostListing } from "../components/Postlisting"
import { getEntry, getEntries } from 'astro:content';

interface Props  {
  logoLink: "/"
}

const { logoLink = "/" } = Astro.props;
const entry = await getEntry("Profiles", "yeehaa")
const { data } = entry
const { articles, title, description } = data;
const posts = await getEntries(articles)

---
<Layout {logoLink}  {...data}>
  <div slot="hero" class="w-full bg-secondary">
    <div class="flex flex-col lg:flex-row-reverse gap-x-8 
      w-full lg:w-11/12 xl:w-9/12 2xl:w-8/12 mx-auto">
      <Image class="w-full lg:w-1/2" src={data.profileImageURL} alt={title} />
      <div class="px-8 w-full flex flex-col justify-center gap-y-5 py-8 md:py-12">
        <h1 class="font-sans hover:font-serif md:text-5xl 
          text-white dark:text-black text-4xl font-extrabold">{ title }</h1>
        <p class="font-serif text-white dark:text-black">{ description }</p>
      </div>
    </div>
  </div>
  <div class="container px-8 gap-8 py-12 lg:py-20 mx-auto">
    { posts.map(({slug, data}) => <PostListing {...data} order={1} {slug}/>)}
  </div>
</Layout>
