---
import Layout from "../layouts/Article.astro"
const title = "YEEHAA";
// const inspirational = [
//   "Innovation does not begin with radical, structural transformation",
//   "It starts with barely perceptible shifts"
// ]
const inspirational = [
  "Wabi-sabi and Kintsugi", "rather than perfection and  wholeness", "define our planetary future"
]

import { getEntry } from 'astro:content';


// Get all `src/content/blog/` entries
const entry = await getEntry('Work', 'align-the-misaligned');
const { Content } = await entry.render();
---

<Layout {title} {inspirational}>
  <Content/ >
</Layout>

<!-- <h1 class="font-serif pb-24 md:pb-24 font-black text-5xl md:text-6xl">Align the Misaligned</h1> -->
<!-- <p class="text-xl md:text-2xl first-letter:text-5xl -->
<!--   first-letter:font-bold font-serif"> -->
<!--   It is remarkable how the history of virtual space mimics that of its physical counterpart. Like the universe's big bang, better yet, the earth's tectonic shifts, our once one and only internet has shattered into many pieces. To lead with the bad news: no attempt to glue its pieces back together will ever mend the internet into a whole again. But the fact that something is broken, doesn't mean that it is worth-less. Changing our relation to fragments and waste is key to our planetary future. So why exclude the internet from our new found consciousness? -->
<!---->
<!-- </p> -->
<!-- <p class="pt-6"> -->
<!--   While the existence and dangers of the Chinese and Russian internet are widely known and debated, the prevalence of this discourse obscures the fact that our 'normal' internet experience has been far from the norm globally for quite a while. In most Asian countries, so-called superapps have replaced browsers and apps as the primary way to interact with the web. Africa is pioneering the adoption of [mesh and P2P networks](https://theflip.africa/podcast/africas-peer-to-peer-story) that creatively give (some form of) internet access to people who cannot afford or rely on stable and persistent connections. Finally, even our own mobile app ecosystems should be understood as a break from the open global web, which itself thus needs to be further predicated: let's call it the OG internet for now. -->
<!-- </p> -->
<!-- <h2 class="font-serif pt-10 pb-4 font-bold text-3xl">Continental Drift</h2> -->
<!-- <p> -->
<!--   While the existence and dangers of the Chinese and Russian internet are widely known and debated, the prevalence of this discourse obscures the fact that our 'normal' internet experience has been far from the norm globally for quite a while. In most Asian countries, so-called superapps have replaced browsers and apps as the primary way to interact with the web. Africa is pioneering the adoption of [mesh and P2P networks](https://theflip.africa/podcast/africas-peer-to-peer-story) that creatively give (some form of) internet access to people who cannot afford or rely on stable and persistent connections. Finally, even our own mobile app ecosystems should be understood as a break from the open global web, which itself thus needs to be further predicated: let's call it the OG internet for now. -->
<!-- </p> -->
<!-- <p class="pt-6"> From the [10x mindset of venture capital](https://www.nytimes.com/2022/01/31/books/review-power-law-venture-capital-sebastian-mallaby.html), the [dehumanizing crunches of the game industry](https://www.forbes.com/sites/insertcoin/2017/09/04/blood-sweat-and-pixels-book-review-the-brutality-and-beauty-of-building-video-games/amp/), the [e-waste burial lakes of Baotou](https://www.linkedin.com/pulse/atlas-ai-mukul-pal-caia?trk=organization_guest_main-feed-card_reshare_feed-article-content), so-called innovation always comes at the expense of nature, people, or both. Value is produced by disposing more than is kept. Fortunately, this excess mindset is running out of steam. The [Taiwan semiconductor crisis](https://www.christophermiller.net/semiconductors-1), [surveillance capitalism](https://news.harvard.edu/gazette/story/2019/03/harvard-professor-says-surveillance-capitalism-is-undermining-democracy/), and the [sheer existence of tiktok](https://www.e3s-conferences.org/articles/e3sconf/pdf/2021/11/e3sconf_netid2021_03029.pdf) are all indicators that a shift is long overdue. -->
<!-- </p> -->
<!-- <p class="pt-6"> -->
<!--   This article will re-frame internet fragmentation through the lens of [regenerative design](https://www.nrhythm.co/regenerative-design-principles?r_done=1). Regeneration goes beyond sustainability by aiming not only to restore, but also to renew and revitalize systems and communities. Whereas sustainable design aims for damage control by mitigating harm, regenerative design wants to make ecosystems healthier and more vibrant than ever before. Regeneration allows us to see the fragments of the internet as seeds of a promising future rather than remainders of a paradise lost. Wabi-sabi, not wholeness, is the future. -->
<!-- </p> -->
<!-- <h2 class="font-serif pt-10 pb-4 font-bold text-3xl">Foam Party</h2> -->
<!-- <p> -->
<!--   While the existence and dangers of the Chinese and Russian internet are widely known and debated, the prevalence of this discourse obscures the fact that our 'normal' internet experience has been far from the norm globally for quite a while. In most Asian countries, so-called superapps have replaced browsers and apps as the primary way to interact with the web. Africa is pioneering the adoption of [mesh and P2P networks](https://theflip.africa/podcast/africas-peer-to-peer-story) that creatively give (some form of) internet access to people who cannot afford or rely on stable and persistent connections. Finally, even our own mobile app ecosystems should be understood as a break from the open global web, which itself thus needs to be further predicated: let's call it the OG internet for now. -->
<!-- </p> -->
