---
const { class: className, href = "/#" } = Astro.props
---

<h1 class:list={["group", "font-sans", "font-black", className]}>
  <a href={href}>
    <span class="inline-block -translate-y-1 group-hover:translate-y-0
      text-secondary-light group-hover:text-secondary-dark">YEE</span>
    <span class="inline-block -translate-x-1 group-hover:translate-y-0 translate-y-1
      text-secondary-dark group-hover:text-secondary-light">HAA</span>
  </a>
</h1>
