---
const { class: className, ...rest } = Astro.props
---

<h1 class:list={["group", "font-sans", "font-black", className]}>
  <span class="inline-block -translate-y-1 group-hover:translate-y-0
    text-secondary-light group-hover:text-secondary-dark
    dark:text-primary-light group-hover:dark:text-primary-dark">YEE</span>
  <span class="inline-block -translate-x-0.5 group-hover:translate-y-0 translate-y-1
    text-secondary-dark group-hover:text-secondary-light
    dark:text-primary-dark group-hover:dark:text-primary-light">HAA<span>
</h1>
