---
import Logo from "./Logo.astro"
---
<nav class="bg-gray-100 dark:bg-gray-800 opacity-90 dark:text-white flex items-center justify-between p-4 md:p-6 transition-all">
  <Logo class="text-1xl md:text-2xl"/>
  <div class="flex gap-6 font-black text-right text-base md:text-1xl">
    <div class="opacity-40 hover:opacity-80">ABOUT</div>
    <div class="opacity-40 hover:opacity-80">CONTACT</div>
  </div>
</nav>
