---
import { NavMenu } from "@/components/NavMenu";

const navItems = [
  { title: "About", href: "/about" },
  { title: "Blog", href: "/posts" },
  { title: "Courses", href: "/offcourse" }
]
---

<nav class="backdrop-blur-none dark:text-white flex items-center justify-between p-4 md:p-6 transition-all print:hidden">
  <slot name="logo"/>
  <div class="flex gap-6 justify-end font-black text-right text-base md:text-1xl text-secondary select-none print:hidden">
    <NavMenu navItems={navItems} client:load transition:animate="slide" />
  </div>
</nav>
