---
import Switch from "./Switch.astro"
import MenuButton from "./MenuButton.astro"
---

<nav class="backdrop-blur-none dark:text-white flex items-center justify-between p-4 md:p-6 transition-all print:hidden">
  <slot name="logo"/>
  <div class="flex gap-6 font-black text-right items-center md:text-1xl text-secondary select-none">
    <Switch class="print:hidden" keyName="darkMode" activeClass="dark" labels={["LIGHT", "DARK"]}/>
    <MenuButton />
  </div>
</nav>
