---
import ThemeSelector from "./ThemeSelector.astro"
---

<nav class="backdrop-blur dark:text-white flex items-center justify-between p-4 md:p-6 transition-all">
  <slot name="logo"/>
  <div class="flex gap-6 font-black text-right text-base md:text-1xl text-secondary-dark dark:text-primary-dark select-none">
    <ThemeSelector class="text-black dark:text-white hover:text-secondary-dark dark:hover:text-primary-light print:hidden"/>
    <!-- <div class="hover:text-secondary-light dark:hover:text-primary-light">CONTACT</div> -->
  </div>
</nav>
