---
---
<script>
const sidebar = document.querySelector('[data-sidebar]');
sidebar.addEventListener('click', () => sidebar.classList.toggle('hidden'));
</script>

<nav data-sidebar class=`flex-col w-64 md:w-1/3 xl:w-1/4 bg-offblack dark:bg-offwhite fixed
  top-0 right-0 h-screen z-20 p-8 dark:text-black text-white`>
  <slot />
</nav>
