---
import Flow from "./Flow.astro";
const { inspirational = ["nothing left...", "...to say"] } = Astro.props;
---

<>
<div class="inspirational absolute left-0 right-0 mx-auto text-center">
  <quote class="text-secondary dark:text-primary" slot="inspirational">
    {inspirational.map(l => <p>{l}</p>)}
  </quote>
</div>
<Flow anchor="bottom"viewBox="0 0 1728 526">
  <g clip-path="url(#clip0_130_100)" transform="matrix(1, 0, 0, 1, -2.2737367544323206e-13, 0)">
    <path d="M -0.041 526.062 C -0.041 526.062 -1.161 411.215 0.999 408.755 C 145.463 243.925 172.5 106.144 313.297 106.144 C 431.75 106.144 457.123 269.231 567.79 269.231 C 678.458 269.231 698.67 0 862.289 0 C 1064.13 0 1046.51 272.128 1158.34 272.128 C 1270.18 272.128 1294.78 106.144 1414.4 106.144 C 1563 106.144 1580.46 220.455 1726.85 418.607 C 1729.5 422.191 1727.992 526.125 1727.992 526.125 L -0.041 526.062 Z"/>
  </g>
</Flow>
<>

<style>
.inspirational {
  /* animation: fade 10s linear forwards; */
}

@keyframes fade {

0%{
  opacity: 0;
}

20%{
  opacity: 0;
}


70% {
  opacity: 0.7;
}

100% {
  opacity: 0;
}
}
</style>
