---
import Flow from "./Flow.astro";
const { inspirational = ["nothing left...", "...to say"] } = Astro.props;
---

<>
<div class="inspirational absolute left-0 right-0 mx-auto text-center">
  <quote class="text-secondary dark:text-primary" slot="inspirational">
    {inspirational.map(l => <p>{l}</p>)}
  </quote>
</div>

<Flow anchor="bottom" viewBox="0 0 390 118" >
  <path d="M0 125L0 93.9081C0.0263015 93.1685 -0.165291 92.2497 0.321938 91.6978C32.9043 54.7209 39.0022 23.8118 70.7575 23.8118C97.4734 23.8118 103.196 60.3979 128.156 60.3979C153.116 60.3979 157.674 0 194.577 0C240.099 0 236.127 61.0478 261.349 61.0478C286.572 61.0478 292.12 23.8118 319.101 23.8118C352.615 23.8118 356.553 49.4557 389.57 93.9081C390 94.7121 389.982 95.9041 390 96.8944V125H0Z" />
</Flow>
<>

<style>
.inspirational {
  /* animation: fade 10s linear forwards; */
}

@keyframes fade {

0%{
  opacity: 0;
}

20%{
  opacity: 0;
}


70% {
  opacity: 0.7;
}

100% {
  opacity: 0;
}
}
</style>
