---
import NavBar from "../components/NavBar.astro"
import Logo from "../components/Logo.astro"
import { ViewTransitions } from 'astro:transitions';
import '@/styles/globals.css'
const { title, logoLink = '#'} = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="og:data" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-black print:bg-pure-white font-sans md:text-lg">
    <header class="z-10 sticky top-0">
      <NavBar><Logo class="text-1xl md:text-2xl" href={logoLink} slot="logo" /></NavBar>
    </header>
    <main transition:animate="fade">
      <div class="bg-white text-black dark:bg-black dark:text-white
        print:bg-pure-white print:text-pitch-black print:py-24" >
        <div class="flex justify-center w-full" >
          <slot name="image"/>
        </div>
        <div class="container overflow-hidden px-10 lg:px-0 lg:max-w-4xl mx-auto">
          <slot/>
        </div>
      </div>
    </main>
    <footer class="container overflow-hidden dark:text-white py-8 md:py-12 px-12 lg:px-0 lg:max-w-3xl mx-auto print:hidden">
      <Logo/>
    </footer>
  </body>
</html>

<style>
.inspirational {
  animation: fade 10s linear forwards;
}

@keyframes fade {

0%{
  opacity: 0;
}

20%{
  opacity: 0;
}


70% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}
</style>


<style is:global>
@font-face {
  font-family: 'GT Ultra Median';
  src: url('/fonts/GT-Ultra-Median-Ultra-Trial.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Median';
  src: url('/fonts/GT-Ultra-Median-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Median';
  src: url('/fonts/GT-Ultra-Median-Regular-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Median';
  src: url('/fonts/GT-Ultra-Median-Regular-Italic-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Standard';
  src: url('/fonts/GT-Ultra-Standard-Ultra-Trial.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Standard';
  src: url('/fonts/GT-Ultra-Standard-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Standard';
  src: url('/fonts/GT-Ultra-Standard-Regular-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Ultra Standard';
  src: url('/fonts/GT-Ultra-Standard-Regular-Italic-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@page {
  size: A4;
  margin: 3cm 2cm;
}

@page {
  @bottom-right {
    content: counter(pageNumber);
  }
}
h1,h2,h3,h4,h5, h6, blockquote {
  page-break-after: avoid;
}

p {
  text-wrap: pretty;
}
</style>
